# Ignore specific files
filename.ext

# Ignore all files with a specific extension
*copy.html
*.pdf
*.docx

# Ignore a specific directory
directory_name/
TermProject-copy

# Ignore all files in a directory
directory_name/*

# Ignore all files except one
!filename.ext